{% extends "base.twig" %}

{% block content %}
	<div id="page_wrapper">
		<h1>{{ post.title }}</h1>
		{{ post.content }}
		<p><a href="/sightings" class="button">← Back to All Sightings</a></p>
	</div>
{% endblock %}
